.login {
  position: relative;
  height: 100%;
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg')
    center no-repeat;
  background-size: cover;
}

.login_logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.login_button {
  position: fixed;
  right: 40px;
  top: 20px;
  padding: 7px 12px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin-right: 20px;
}

.login_gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__body {
  position: absolute;
  top: 30%;
  /* transform: translate(50%, 20%); */
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  color: white;
  padding: 20px;
  text-align: center;
  right: 0;
  left: 0;
}

.login__body > h1 {
  font-size: 2.125rem;
  margin-bottom: 20px;
}

.login__body > h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.login__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.login__getStarted {
  padding: 9px 15px;
  font-size: 0.9rem;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.login__input > form > input[type='email'] {
  padding: 5px;
  outline-width: 0;
  height: 24px;
  width: 25%;
  border: none;
  min-width: 600px;
}

.login__input {
  margin: 20px;
}

.login_avatar {
  position: fixed;
  top: 22px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
